
@{
    ViewBag.Title = "Error";
}
    <div class="alert-danger text-center" style="padding:20px;margin-top:30px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
